<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <span class="content"><%= entry.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
   <% if entry.comments.any? %>
      <ol class="comments">
        <%= render entry.comments %>
      </ol>
    <% end %>
    <% if logged_in? %>
    <section>
  <%= form_for(@comment, remote: true) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="col-lg-6" style="width:500px">
	    <div class="input-group" id= "comment-form" style="padding-left:35px">
	        <div style="display:none">
	        <%= submit_tag entry.id, :name => 'entry_id' %>
	       </div>
	       <span class="form-control">
	         <%= f.text_field :content , placeholder: "Compose new comment..." %>
	      </span>
	      <span class="input-group-btn">
	         <%= f.submit "Comment", class: "btn btn-primary" %>
	      </span>
	    </div>
	  </div>
<% end %>  	
     </section>
     <% end %>  
</li>